<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-danger">
              <i class="nc-icon nc-world-2 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">COVID-19 Cases</p>
              <p class="card-title">{{ allCovidData.cases }}
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-ambulance text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Deaths</p>
              <p class="card-title">{{ allCovidData.deaths }}
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Recoverd</p>
              <p class="card-title">{{ allCovidData.recovered }}
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
    <div id="card">
        <h3>Top 20 Countries with most cases</h3>
        <canvas id="myChart" width="400" height="400"></canvas>        
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
      <a  href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance">
        <div id="card">
            <h3>Learn more about how to fight against COVID-19 virus</h3>
        </div>
      </a>
    </div>
  </div>

